.footer{
  margin:  0 auto;
  background-color: #3c3c3c;
  width: 100%;
  height: 250px;
  padding: 50px;
  line-height: 43px;
}

.footer h1{
  text-align: center;
  color: white;
}

.footer h2{
  text-align: center;
  color: white;
}

.footer p{
  text-align: center;
  color: white;
  line-height: 25px;
}